<h1>A POS App</h1>
<div class="toolbar">
  <div class="transaction tab active" (click)="toggleFocus($event)">
    Transaction
  </div>
  <div class="menu tab" (click)="toggleFocus($event)">
    Menu
  </div>
</div>
<div class="content-wrap">
  <app-transaction *ngIf="view==0" [menu]="menu"></app-transaction>
  <app-menu *ngIf="view==1" [menu]="menu"></app-menu>
  <!-- <div class="card">
    <h3>My Simple Card</h3>
    <label>A simple card</label>
    <p>
      This card is formatted very simply.
    </p>
    <div class="button">Click me!</div>
  </div>

  <div class="card">
    <h3>Transaction No. 108hf8hr91h</h3>
    <label>Server: Aileen</label>
    <table>
      <ul class="header">
        <li>Dish</li>
        <li>Price</li>
      </ul>
      <ul>
        <li>
          Butter Masala
        </li>
        <li>
          350
        </li>
      </ul>
    </table>
    <div class="button">
      Pay Now
    </div>
    <select>
      <option>
        Cash
      </option>
      <option>
        Card
      </option>
    </select>
  </div> -->
</div>